<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <form action="greeting">
        <label for="name">First name:</label><br>
        <input type="text" id="name" name="name" value="Daniel"><br>
        <input type="text" id="Lname" name="Lname" value="Builes"><br>
        <input type="submit" value="Submit">
        <input type="reset">
    </form>
</html>
